*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
        background-image: url(contact.png);
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-color:transparent;
        background-blend-mode: screen;
    }
    nav{
        height: 8vh;
        display:flex;
        justify-content: space-around;
        position: fixed;
        width: 150%;
        min-height: 1vh;
        background-color:rgb(7, 7, 7);
    }
    .nav-links{
        margin: 0;
        padding: 0;
        float: right ;
        list-style-type:none;
        margin-top: 2px;
    }
    .nav-links li {
        display:inline-block;
        list-style: none;
        line-height: 50px;
        letter-spacing: 3px;
    }
    .nav-links li a{
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:#989898;
        padding: 5px 20px;
        border: none;
        transition: 0.6s ease;
        }
    ul li a:hover{
        background-color:palevioletred;
        color: #000;
        font-weight: bold;
        }
    .contactf{
        padding: 30px 40px;
        width: 10%;
        max-width: 600px;
        position: absolute;
        top: 560%;
        left: 8%;
        transform: translate(-50%,-50%);
        color:rgb(10, 10, 10);
        font-size: 75px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        }
    .site{
        position: absolute;
        bottom: 1%;
        left: 38%;
        cursor: pointer;
        text-align: center;
        color: white;
        }
    .contactg{
        padding: 20px 10px 20px;
        width: 12%;
        max-width: 800px;
        background: black;
        position: absolute;
        top: 300%;
        left: 57%;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 20px #000000b3;
        color: white;
        }
    .contacth{
        padding: 20px 10px 20px;
        width: 12%;
        max-width: 800px;
        background: black;
        position: absolute;
        top: 520%;
        left: 57%;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 20px #000000b3;
        color: white;
    }
    .contacti{
        padding: 30px 20px 80px 20px ;
        width: 12%;
        height: 10%;
        max-width: 800px;
        background: black;
        position: absolute;
        top:700%;
        left: 57%;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 20px #000000b3;
        color: white;
    }
    